<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LeftoverLove - Sign Up</title>
  <!-- Link to external CSS file -->
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container">
    <!-- Logo -->
    <img src="pictures/logo.png" alt="Logo" class="logo">

    <!-- Title and subtitle -->
    <h1>LeftoverLove</h1>
    <h2>Waste Less, Love More</h2>

 

    <!-- Sign Up Form -->
    <form method="POST">
      <div class="input-container">
          <label for="username" class="input-label">User name:</label>
          <input type="text" id="username" name="username" class="input-field" placeholder="Enter your username" required>
      </div>
      <div class="input-container">
          <label for="email" class="input-label">E-mail:</label>
          <input type="email" id="email" name="email" class="input-field" placeholder="Enter your email" required>
      </div>
      <div class="input-container">
          <label for="address" class="input-label">Address:</label>
          <input type="text" id="address" name="address" class="input-field" placeholder="Enter your address" required>
      </div>
      <div class="input-container">
          <label for="postalcode" class="input-label">Postal code:</label>
          <input type="text" id="postalcode" name="postalcode" class="input-field" placeholder="Enter your postal code" required>
      </div>
      <div class="input-container">
          <label for="city" class="input-label">City:</label>
          <input type="text" id="city" name="city" class="input-field" placeholder="Enter your city" required>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
  </form>
  
  </div>
</body>
</html>
